@import '@/lib/reset.scss';

.Login{
  @include rect(100%,100%);
  @include background-color(#fff);
  // 这是头部
  .am-navbar {
    background-color: rgba(250, 250, 250, 0.98);
    position: relative;
    border-bottom: 1px solid #ccc;
    // 这是头部的icon
    .am-icon {
      color:rgb(51, 51, 51);
      font-size: 0.18rem;
    }
    .loginswitch {
      position: absolute;
      height: 100%;
      width: 20%;
      opacity: 0.05;
      right: 0;
      top: 0;
    }
  }
  // 这是头部点击的下拉菜单
  .showfooter {
    display: none;
    @include rect(100%, 0.5rem);
    @include background-color(#000);

    ul {
      @include rect(100%, 100%);
      @include flexbox();
      a {
        @include flex();
        @include flexbox();
        @include justify-content();
        @include align-items();
        @include text-color(#333);
        color: white;
        &.active {
          @include text-color(#f66);
        }
      }
    }
  }
  // 选择什么方式登陆
  .selectLoginModle{
    margin:.3rem auto;
    height: 0.44rem;
    width: 80%;
    background-color: #fff;
    @include flexbox();
    @include align-items();
    @include justify-content();
    .comModle{
      float: left;
    }
    .threeC {
      margin: 0 0.2rem;
    }
    .active {
      color: #c80f1e;
    }
  }
  //下面是展示什么样的
  .showLoginModle {
    font: 0.14rem/1 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,"sans-serif";
    .username {
      position: relative;
      input {
        @include rect(3.05rem,0.43rem);
        margin-top: 0.02rem;
        position: absolute;
        right: 0;
        top: 0;
        border: 0;
        outline: 0;
      }
      span{
        display: block;
        background-image: url('./user.svg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 0.18rem;
        width:0.18rem;
        margin: auto 0;
      }
    }
    .password {
      position: relative;
      .open{
        display:block;
        right: 0;
        top: 0;
        position: absolute;
        height: 100%;
        line-height: 0.45rem;
      }
      input {
        position: absolute;
        right: 0;
        top: 0;
        @include rect(3.05rem,0.43rem);
        margin-top: 0.02rem;
        border: 0;
        outline: 0;
      }
      .passwordimg{
        display: block;
        background-image: url('./解锁.svg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 0.18rem;
        width:0.18rem;
        margin: auto 0;
      }
    }
    .nopassword {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items();
      span{
        color:#6b6b6b;
      }
      .toggle--daynightBOX {
        width: auto;
        height: auto;
        position: relative;
        top: -0.2rem;
      }
    }
  }
  .f-r {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    border: none;
  }
  .LoginBTN {
    width:3.35rem;
    height: 0.45rem;
    margin:0.4rem auto 0;
    border-radius: 0.02rem;
    button {
      width:3.35rem;
      height: 0.45rem;
      color: #fff;
      border-radius: 0.02rem;
      background-color: red;
    }
  }
  .otherImg {
    i{
      display: block;
      background-image: url('./QQ.svg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 0.34rem;
      width:0.34rem;
    }
  }

  .otherM,.otherImg {
    width: 100%;
    height: 0.4rem;
    @include flexbox();
    @include justify-content();
    @include align-items();
  }
}













.close{
  display: none;
}
// 这是登陆的注释开关选项
.commonSLG {
  width:3.35rem;
  height: 0.45rem;
  border-bottom: 1px solid #eee;
  @include flexbox();
  margin: 0 auto;
}
